.App {
  display: flex;
  justify-content: center;
}

.list-cards{
  width: 80%;
}

.cards-container{
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
  row-gap: 20px;
}

.card{
  background-color: #FFFFFF;
  display: flex;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.card-image{
  padding: 0 5px;
}

.card-info{
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title{
  font-weight: bold;
  text-transform: uppercase;
}